@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>*@
<h3>@ViewBag.Message</h3>

<address>
    New Delhi,India<br />
    <abbr title="Phone">P:</abbr>
    +91-9871062500
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@sharenotebook.com">support@sharenotebook.com</a><br />
    <strong>Facebook Page:</strong> <a href="https://www.facebook.com/pages/Sharenotebook/1374502276212785">ShareNoteBook</a>
</address>